<h1>{{model.Employee.firstname}} {{model.Employee.lastname}} adatlapja</h1>
<br>

<div>
    <h3>Személyes adatok</h3>
    <button class="btn btn-primary btn-sm col-md-1" {{action "hideDatas"}} id="btn-hide">Elrejt</button>
    <button class="btn btn-default btn-sm col-md-1" {{action "updateEmployee" model.Employee.id}} id="btn-update">Szerkesztés</button>
</div>

<br>
<hr>

<div class="hideable">
    
    <label class="col-lg-2 control-label">Vezetéknév</label>
    <div class="col-lg-10">
        <div class="well well-sm" name="firstname">{{model.Employee.firstname}}</div>
    </div>    
    <label class="col-lg-2 control-label">Keresztnév</label>
    <div class="col-lg-10">
        <div class="well well-sm" name="lastname">{{model.Employee.lastname}}</div>
    </div>
    <label class="col-lg-2 control-label">Beosztás</label>
    <div class="col-lg-10">
        <div class="well well-sm" name="job">{{model.Employee.job}}</div>
    </div>
    <label class="col-lg-2 control-label">E-mail</label>
    <div class="col-lg-10">
        <div class="well well-sm" name="email">{{model.Employee.email}}</div>
    </div>
    <label class="col-lg-2 control-label">Telefonszám</label>
    <div class="col-lg-10">
        <div class="well well-sm" name="phone">{{model.Employee.phone}}</div>
    </div>
</div>

<br>
<h3>Jelenléti ív</h3>
<hr>
<table class="table table-striped table-hover">
    <thead>
        <th>Projekt</th>
        <th>Dátum</th>
        <th>Munkaidő kezdete</th>
        <th>Munkaidő vége</th>
        <th>Szünet</th>
        <th>Műveletek</th>
    </thead>
    <tbody>
        {{#each model.Employee.workrecords as |workrecord|}}
            <tr>
                <td>{{workrecord.project}}</td>
                <td>{{workrecord.date}}</td>
                <td>{{workrecord.begin}}</td>
                <td>{{workrecord.end}}</td>
                <td>{{workrecord.absenceTime}} perc</td>
                <td>
                    <button {{action "deleteWorkrecord" workrecord.id}} class="btn btn-sm btn-danger" data-toggle="tooltip" data-placement="bottom" title="Törlés">
                        <!--<span class="glyphicon glyphicon-minus"></span>-->
                        D
                    </button>
                    
                    <button {{action "addBreak" workrecord.id}} class="btn btn-sm btn-success" data-toggle="tooltip" data-placement="bottom" title="Növel">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    
                    <button {{action "removeBreak" workrecord.id}} class="btn btn-sm btn-warning" data-toggle="tooltip" data-placement="bottom" title="Csökkent">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                    
                    {{#link-to "update-workrecord" workrecord}}
                    <button class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="bottom" title="Módosítás">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    {{/link-to}}
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>
{{outlet}}

